@import "~bootstrap/scss/bootstrap.scss";

.Principal {
    text-align: center;
    background-color: black;
}

.Principal div{                  // por que con el div si se forma y sin el div no al ser clase no deberia ser solo  .Principal??
    display: inline-block;
    font-size: 40px;
    line-height: 60px;
    height: 60px;
    background-color: black;
    color: white;
    
}